__pycache__/
__pycache__/*
*/__pycache__
.env
note.txt
.qodo
notes.txt
notes*
app.log
test.py
api/core/logging/app.log
pwp*
.gitignore
trashbin/
*.mmdb
app_logs/
*.gz
GeoLite2-*
.idea/
todo.txt